@import url(font.css);
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  background-image: url("../img/raport_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/* CONTAINER */
div.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
div.container div.center {
  width: 536px;
  /* height: 463px; */
  padding: 80px 10px;
  background: #6dc2ff;
  background: #415F9D;
  border-radius: 10px;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

div.container h1 {
  position: absolute;
  top: 30px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: #ffffff;
  text-align: center;
}

div.content {
}
div.content table {
  background: #ffffff;
  border: 3px solid #1181fe;
  border: 3px solid #383838;
  box-sizing: border-box;
  border-radius: 10px;

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  color: #8a8a8a;
}
div.content table th,
div.content table td {
    border-right: 1px solid #383838;
    border-left: 1px solid #383838;
    border-bottom: 1px solid #383838;
    padding: 10px;
}
